/* purple #652a65 
   orange #ee7722
   gray #e6e6e6
   #999
*/

/* Dagny Pro Bold Italic

font-family: ff-dagny-web-pro, sans-serif;

font-weight: 700;

font-style: italic;


Dagny Pro Italic

font-family: ff-dagny-web-pro, sans-serif;

font-weight: 400;

font-style: italic;


Dagny Pro Bold

font-family: ff-dagny-web-pro, sans-serif;

font-weight: 700;

font-style: normal;


Dagny Pro Regular

font-family: ff-dagny-web-pro, sans-serif;

font-weight: 400; 

font-style: normal;

*/




html {
    box-sizing: border-box;
    padding:0;
    margin:0;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body {
    margin: 0;
    font-family: ff-dagny-web-pro, sans-serif;
    font-weight: 300;
    font-style: normal;
    background-color: #fff;
    color: #fff;
    font-size: 1.1em;
    line-height: 1.5;
    text-align: center;
  }
  
  img {
    display: block;
    width: 100%;
    height: auto;
  }
  
  h1,
  h2,
  h3 {
    margin: 0;
  }
  
  p {
    margin: 0;
    font-family: ff-dagny-web-pro, sans-serif;
    font-weight: 300;
    font-style: normal;
    padding: 0 0.5em;
  }
  
  .btn {
    display: inline-block;
    background: #ee7722;
    color: #fff;
    font-size:0.8em;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0.3em 2em;
    border-radius: 5px;
    margin: 0.5em 0;
    font-family: ff-dagny-web-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    cursor: pointer;
    width:140px;
  }
  
  .btn:hover {
    background: #eaeaea;
    color: #333;
  }
  
  /*Header*/
  
  #showcase {
    min-height: 400px;
    color: #fff;
    text-align: center;
  }
  
  #showcase .bg-img {
    position: absolute;
    background: #333
      url('./imgs/hero-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 400px;
    z-index: -1;
    /* opacity: 0.3; */
  }

  #showcase .holder {
      display: block;
      position:relative;
      width:90%;
      margin:0 auto;
  }
  
  #showcase h1 {
    font-size:2.5em;
    line-height:1em;
    font-weight: 900;
    color:#652a65;
    text-align: center;
    margin:0.75em 0 0.5em 0;
    font-family: ff-dagny-web-pro, sans-serif;
    font-weight: 900;
    font-style: normal;
  }

  #showcase h3 {
    font-size:0.9em;
    line-height:1.5em;
    font-weight: 900;
    color:#ee7722;
  }



  .form-holder {
    color:#333;
    position: relative;;
    background:#e5e5e5;
    height:100%;
    z-index: 10;
    padding-bottom:1em;
  }

  .form-holder h4 {
      text-align: center;
      position:relative;
      display: inline-block;
      color:#ee7722;
      margin:1em 0 0.5em 0;
      text-transform: uppercase;
  }

  .form-btn {
      margin:2em 0 1em 0;
      border:none;
      padding:0.3em 1em;
      width:225px;
  }

  #topForm {
    position: relative;
  }

  #topForm  div {
    margin:0.8em 0 0.3em 0;
  }

  input[type=text],   input[type=email],   input[type=tel]{
    width: 90%;
    padding: 4px;
    border: 1px solid #ccc;
    /* border-radius: 2px; */
    box-sizing: border-box;
    resize: vertical;
  }



 
  label {
      display:block;
      font-size:0.8em;
  }

  :-ms-input-placeholder {
      display:inline-block;
  }
  
  #showcase .content-wrap,
  #section-a .content-wrap {
    padding: 1em 1.5em;
  }

  .title-bar {
      margin:0 0 01em 0;
      padding:0.8em;
      text-transform: uppercase;
      color:#fff;
      background:#652a65;
  }
  
  /*Section A*/
  
  #section-a {
    background: #fff;
    color: #999;
  }

  #section-a  h2{
    font-size:1.1em;
    text-transform: uppercase;
    padding:00 0 0;
    color: #652a65;
  }
  /*Section B*/
  
  #section-b {
    color:#999;
  }
  
  #section-b ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  #section-b h3 {
    font-size:1.1em;
    text-transform: uppercase;
    padding:1.5em 0 0.5em 0;
    color: #652a65;
  }
  
  #section-b li {
    margin-bottom: 1em;
    background: #fff;
  }
  
  .card-content {
    padding:0;
    background:#fefbf0;
    margin:1em 1em 0.5em 1em;
  }

  /* Section C */

  #section-c {
    color:#999;
    margin:0 0 1em 0;
  }

  #section-c h3 {
    font-size:1.1em;
    text-transform: uppercase;
    padding:1.5em 0 0.5em 0;
    color: #652a65;
  }
  
  /*Footer*/
  
  #main-footer {
    padding: 2em;
    background: #652a65;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    justify-content: center;
    justify-self: center;
  }
  
  #main-footer a {
    color: #fff;
    width:150px;
  }
  
  /* Media Queries */
  
  @media (min-width: 700px) {
    .grid {
      display: grid;
      grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
    }
  
    #section-a .content-text {
      columns: 2;
      column-gap: 2em;
    }
  
    #section-a .content-text p {
      padding-top: 0;
    }
  
    .content-wrap,
    #section-b ul {
      grid-column: 2/4;
    }
  
    #section-b ul {
      display: flex;
      justify-content:/* */ space-around;
    }
    #section-b li {
      width: 31%;
    }
  
    .box,
    #main-footer div {
      grid-column: span 2;
    }
  }
  